.directions {
  padding-top: 0;
  padding-bottom: 94px;
}

.directions__title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.directions__list {
  display: flex;
}

.directions__item:not(:last-child) {
  margin-right: 30px;
}

.directions__item {
  position: relative;
}

.directions__text {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;

  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--base-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
