.container--footer {
  display: flex;
  align-items: baseline;
}

.logo__footer {
  color: var(--base-color);
}

.address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  color: var(--base-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__tel,
.address__mail {
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover,
.address__map:focus,
.address__tel:hover,
.address__tel:focus,
.address__mail:hover,
.address__mail:focus {
  color: var(--accent-color);
}

.footer-socials {
  margin-left: 83px;
}
.footer-socials__text,
.footer-form__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--base-color);
}

.social__icon--footer {
  color: var(--base-color);
  background-color: var(--footer-social-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--footer:hover,
.social__icon--footer:focus {
  background-color: var(--accent-color);
  color: var(--base-color);
}

.footer-form {
  margin-left: auto;
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe__email {
  padding: 14px 0 14px 16px;
  margin-right: 12px;
  width: 358px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.main-button--right-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button__icon {
  margin-left: 10px;
}
