.main-button {
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;

  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--accent-color);
  color: var(--base-color);
  border: none;
  cursor: pointer;
  display: block;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}
