/* основний колір фону - #FFFFFF */
/* колір футера - #2F303A */
/* додатковий колір фону - #F5F4FA */
/* колір логотипу - #000000 */
/* колір акценту - #2196F3 */
/* колір ховеру кнопки героя - #188CE8 */
/* колір заголовків - #212121 */
/* колір тексту - #757575 */
/* додатковий колір тексту - #FFFFFF */
/* колір тексту із прозорістю - rgba(255, 255, 255, 0.6) */
/* колір лінії - #ECECEC */
/* колір соцмережі - #AFB1B8 */
/* ?Raleway 700, Roboto 400 500 700 900 */

/* css змінні */
:root {
  --accent-color: #2196f3;
  --base-color: #ffffff;
  --heading-color: #212121;
  --text-color: #757575;
  --btn-color: #f5f4fa;
  --social-color: #afb1b8;
  --footer-social-color: rgba(255, 255, 255, 0.1);
}
